body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}


:root {
    --primary-color: #6C60E0;
    --secondary-color: #FF764A;

    --text-color-2: #414141;
}

/* navbar */

nav ul li {
    font-size: 16px;
}

.btn {
    padding: 10px 30px;
    border: none;
}

.btn-secondary{
    background-color: var(--secondary-color);
    border: none;
}
.btn-secondary:hover{
    background-color: #ff9674;
}

.btn-primary{
    background-color: var(--primary-color);
    border: none;
}
.btn-primary:hover{
    background-color: #9b91f4;
    border: none;
}

.btn.btn-flat {
    background-color: transparent;
    color: var(--text-color-2)
}

.navbar-brand {
    font-size: 20px;
    font-weight: 600;
    color: #1C1A1B;
}

span.primary {
    color: var(--primary-color);
}

span.secondary {
    color: var(--secondary-color);
    text-decoration: underline;
    text-decoration-thickness: 7px;
    text-underline-position: under;
}

.nav-item {
    margin-right: 85px;
}


/* profile sec */
.profile-sec{
    /* background-color: #F9FAFF; */
}
.profile-sec img{
    width: 70%;
    border-radius: 100%;
}

.profile-sec h2 {
    font-size: 24px;
    margin-top: 15px;
    font-weight: bold;
    color: var(--text-color-2);
}

.profile-sec .button-link{
    border-radius: 6px;
    border: 0.5px solid; 
    font-size: 12px;
    background-color: white;
    margin-top: 5px;
}

.side-bar a{
    display: block;
    color: var(--text-color-2);
    margin-top: 25px;
    text-align: center;
    width: 70%;
}

.side-bar a .click{
    border: 1px solid #6C60E0;
    width: 100%;
    color: var(--primary-color);
    border-radius: 8px;
}

.side-bar a button{
    border: 0px;
    background-color: white;
}

.side-bar a button:hover{
    background-color: white;
    color: var(--primary-color);
    width: 100%;
}

/* Transaction */
#card-transaction-section h5{
    font-size: 28px;
    font-weight: bold;
    color: var(--text-color-2);
    margin-top: 0px;
}

#card-transaction-section button{
    border-radius: 8px;
    background-color: white;
    border: 1px solid black;
}

#card-transaction-section button:hover{
    /* background-color: #e8ecff; */
}

#transaction-desc{
    display: flex;
}

#transaction-desc img{
    width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#transaction-desc h5{
    color: var(--text-color-2);
    margin-top: 10px;
    margin-left: 10px;
}

#transaction-desc p{
    color: #2573C8;
    margin-left: 10px;
}

#transaction-text {
    margin-left: 38%;
}

#transaction-text .card-title{
    font-size: 13px;
    font-weight: bold;
    margin-top: -5px;
    margin-left: -65px;
    color: var(--text-color-2);
}

#transaction-text .card-price{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 28px;
    margin-left: -50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#transaction-text .card-status{
    color: var(--text-color-2);
    margin-left: -40px;
}
#transaction-desc .time-mentoring{
    margin-left: 280%;
}

#transaction-desc .time-mentoring h5{
    font-size: 22px;
    color: var(--text-color-2);
}

#transaction-desc .time-mentoring span{
    display: block;
    font-size: 16px;
}

#transaction-desc .time-mentoring a{
    color: var(--text-color-2);
    border: 1px solid var(--text-color-2);
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#transaction-desc .time-mentoring a:hover{
    background-color: #e8ecff;
}

#transaction-desc .transaction-flex{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}




/* footer */
footer {
    border-top: 1px solid #EAEAEA;
    margin-top: 100px;
}

h5.text-logo {
    color: #1C1A1B;
    font-size: 18px;
    font-weight: 600;
}

.sosmed-footer {
    display: flex;
    gap: 43px;
    padding-bottom: 40px;
}

.sosmed-logo:hover {
    scale: 1.2;
    animation: all 0.5s  ease-in-out;
}

footer h5 {
    font-size: 18px;
    color: #797979;
    font-weight: 600;
}

footer ul {
    margin-top: 38px;
}

footer li {
    margin-bottom: 12px;
}

footer ul li a {
    color: #797979;
}